<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Marmara Üniversitesi Diş Hekimliği Fakültesi Internet Randevu Sistemi</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <style>
            body{
                background-color: #fcfcfc;
            }
        </style>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Randevu Sistemi</a>
            </div>
        </div>
        </nav>
        <!-- Page content-->
        <div class="container">
           <div class="card mt-3">
            <div class="card-body">
                <div class="text-center mt-5">
                    <h3>Marmara Üniversitesi Diş Hekimliği Fakültesi Internet Randevu Sistemi</h3><br>
                    Hoşgeldiniz,<br><br>
                    Tedavisi devam eden hastaların bu sayafayı kullanarak randevu almalarına gerek yoktur.<br>
    
                    Yeşil kartlı hastaların randevularına gelmeden önce Ağız ve Diş Sağlığı Merkezlerinden sevk almaları gerekmektedir.<br>
                    Randevunuzu en hızlı şekilde alabilmeniz için T.C. kimliğinizi yanınızda hazır bulundurunuz.<br>
                    Yeni randevu günü saat 20:00 da açılmaktadır.<br>
                    3 defa randevunuza gelmezseniz, cezalı duruma düşeceksiniz ve 90 gün içerisinde yeni randevu alamayacaksınız.<br>
                    Randevunuza gelemeyecek durumda iseniz cezalı duruma düşmemek için randevunuzu iptal ediniz.<br>
                    Randevu saatinden önce hasta kabulden giriş işlemlerini yaptırmanız gerekmektedir.<br>
                    Randevu saatindeki sıralar başvuru önceliğine göre verilmektedir; erken gelmeniz menfaatinize olacaktır.ject boilerplate built with Bootstrap</p><br>
                   <a type="button" href="/validation" class="btn btn-dark">Giriş</a>
                </div>
            </div>
           </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
    </body>
</html>
