<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Marmara Üniversitesi Diş Hekimliği Fakültesi Internet Randevu Sistemi</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="./css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <%- include("partials/_navbar") %>
        <!-- Page content-->
        <div class="container" style="margin-bottom:100px">
           <div class="card mt-5">
            <div class="card-header">
                Gün Seçin
            </div>
            <div class="card-body">
              <form id="dateForm">
                <input type="date" class="form-control" id="date">
                 <div class="invalid-feedback" id="dateInvalidFeedback">
                </div>
              </form>
            </div>
           </div>

        <div class="alert alert-danger mt-3" style="display: none;" id="alertDanger" role="alert"></div>
        </div>


<!-- Modal -->
<div class="modal fade" id="timeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" open>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Saat Seçin</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6>Tc: <%= user %></h6>
          <h6 id="getDate">Tarih: 2022-5-5</h6>
          <h6 id="getClock">Saat: Seçili değil </h6>
          <hr>  
          <div id="timeArea">                    

          </div>

            <div class="alert alert-danger mt-4" style="display: none;" id="alertDangerModal" role="alert"></div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
          <button type="button" class="btn btn-primary" id="approve">Randevu Al</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="okeyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" open>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Randevunuz Oluşturuldu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>Tc: <%= user %></h6>
        <h6 id="okeyDate"></h6>
        <h6 id="okeyClock"></h6>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="okeyBtn">Tamam</button>
      </div>
    </div>
  </div>
</div>




        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- Bootstrap core JS-->
        <script src="./js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="./js/scripts.js"></script>
        <script src="./js/developerjs/makeAppointmentControl.js"></script>
        
    </body>
</html>
